<div>
    <form [formGroup]="form">
        @for (item of patientVisitData; track item.orderNo) {
        <div class="qwrap">
            @for (field of item.fieldGroups; track field.fieldGroupCode) {
            <div class="qfieldswrap">
                <p>{{field.displayName}}</p>
                <div style="display: grid;grid-template-columns: 1fr 1fr;grid-row-gap: 6px;">
                    @for (ff of field.fields; track $index) {
                        <div >
                            <div>
                                <label>{{ ff.displayName }}</label>
                                <!-- Select Input -->
                                <ng-container *ngIf="ff.attributes.type === 'select'">
                                    <select [formControlName]="ff.field" class="border border-gray-500 w-50">
                                        <option value="">Select</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </ng-container>
                                <!-- Datepicker -->
                                <ng-container *ngIf="ff.attributes.type === 'datepicker'">
                                    <input type="date" [formControlName]="ff.field" class="border border-gray-500 w-50" />
                                </ng-container>
        
                                <ng-container *ngIf="ff.attributes.type === 'text'">
                                    <input type="text" [formControlName]="ff.field" class="border border-gray-500 w-50"/>
                                </ng-container>
                                <ng-container *ngIf="ff.attributes.type === 'pincode'">
                                    <input type="text" [formControlName]="ff.field" class="border border-gray-500 w-50"/>
                                </ng-container>
                                <ng-container *ngIf="ff.attributes.type === 'numeric'">
                                    <input type="text" [formControlName]="ff.field" class="border border-gray-500 w-50"/>
                                </ng-container>
                            </div>
        
        
                        </div>
        
                        }
                </div>
             
            </div>
            }

        </div>
        }
    </form>

</div>